<div style="background-color: #ffffff">
    <div class="grid-x grid-padding-x products-container">
        <!-- Gro web app -->
        <div class="cell small-3 product-border-line">
            <div class="grid-x center-text">
                <div class="cell small-12 top-space">
                    <img width="78px" height="111px" src="assets/images/products/gro-web-app.png">
                </div>
                <div *ngFor="let product of productsList">
                    <div *ngIf="product.href === '/products/gro'" class="cell small-12 top-space"
                        style="font-size: 20px;">{{product.label}}</div>
                    <div *ngIf="product.href === '/products/gro'" class="cell small-12 top-space"
                        style="font-size:16px; color: #AAAAAD;">
                        {{product.description}}</div>
                </div>
                <div class="cell small-12 button-container">
                    <div class="learn-more-button">
                        <span class="learn-more-text">&nbsp;Learn More&nbsp;></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gro analytics -->
        <div class="cell small-3 product-border-line">
            <div class="grid-x center-text">
                <div class="cell small-12 top-space">
                    <img width="78px" height="111px" src="assets/images/products/gro-analytics.png">
                </div>
                <div *ngFor="let product of productsList">
                    <div *ngIf="product.href === '/products/analytics'" class="cell small-12"
                        style="padding-top: 2vh; font-size: 20px;">{{product.label}}</div>
                    <div *ngIf="product.href === '/products/analytics'" class="cell small-12"
                        style="padding-top: 2vh; font-size:16px; color: #AAAAAD;">
                        {{product.description}}
                    </div>
                </div>
                <!-- List of yield forecasts: -->
                <div class="cell small-12 yield-list-item">US Corn <span class="yield-forecast">Yield
                        Forecast</span>
                    <span class="yield-arrow">&nbsp;&nbsp;></span></div>
                <div class="cell small-12 yield-list-item">US Soy <span class="yield-forecast">Yield
                        Forecast</span>
                    <span class="yield-arrow">&nbsp;&nbsp;></span></div>
                <div class="cell small-12 yield-list-item">Argentina Soy
                    <span class="yield-forecast">Yield Forecast</span>
                    <span class="yield-arrow">&nbsp;&nbsp;></span></div>
                <!-- Learn more button -->
                <div class="cell small-12 button-container">
                    <div class="learn-more-button">
                        <span class="learn-more-text">&nbsp;Learn More&nbsp;></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gro API -->
        <div class="cell small-3 product-border-line">
            <div class="grid-x center-text">
                <div class="cell small-12 top-space">
                    <img width="78px" height="111px" src="assets/images/products/gro-api.jpg">
                    <div *ngFor="let product of productsList">
                        <div *ngIf="product.href === '/products/gro-api'" class="cell small-12 top-space"
                            style="font-size: 20px;">{{product.label}}</div>
                        <div *ngIf="product.href === '/products/gro-api'" class="cell small-12 top-space"
                            style="font-size:16px; color: #AAAAAD;">
                            {{product.description}}</div>
                    </div>
                    <div class="cell small-12 button-container">
                        <div class="learn-more-button">
                            <span class="learn-more-text">&nbsp;Learn
                                More&nbsp;></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gro dictionary -->
        <div class="cell small-3">
            <div class="grid-x center-text">
                <div class="cell small-12 top-space">
                    <img width="78px" height="111px" src="assets/images/products/gro-dictionary.png">
                </div>
                <div *ngFor="let product of productsList">
                    <div *ngIf="product.href === '/products/gro-dictionary'" class="cell small-12 top-space"
                        style="font-size: 20px;">{{product.label}}</div>
                    <div *ngIf="product.href === '/products/gro-dictionary'" class="cell small-12 top-space"
                        style="font-size:16px; color: #AAAAAD;">
                        {{product.description}}</div>
                </div>
                <div class="cell small-12 button-container">
                    <div class="learn-more-button">
                        <span class="learn-more-text">&nbsp;Learn
                            More&nbsp;></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>