<div style="background-color: #ffffff">
    <div class="grid-x grid-padding-x" style="min-height: 35vh; margin-left: 5vw;
    margin-right: 5vw; 
    padding-top: 3vh;
    padding-bottom: 2vh; ">
        <div class="cell small-3" style="border-right: 2px solid#A9A9A9">
            <div class="grid-x" style="text-align: center; ">
                <div class="cell small-12" style="padding-top: 2vh;">
                    <img width="78px" height="111px" src="assets/images/products/gro-web-app.png">
                </div>
                <div class="cell small-12" style="padding-top: 2vh; font-size: 20px;">Gro web app</div>
                <div class="cell small-12" style="padding-top: 2vh; font-size:16px; color: #AAAAAD;">
                    Jump straight into analysis through intuitive
                    visualizations that can be monitored on live dashboards</div>
                <div class="cell small-12"
                    style="padding-top: 3vh; display: flex; align-items:center; justify-content: center; ">
                    <div class="learn-more-button">
                        <span style="font-weight: bold; font-size: 13px; color: #686868">&nbsp;Learn More&nbsp;></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell small-3" style="border-right: 2px solid#A9A9A9">
            <div class="grid-x" style="text-align:center;">
                <div class="cell small-12" style="padding-top: 2vh;">
                    <img width="78px" height="111px" src="assets/images/products/gro-analytics.png">
                </div>
                <div class="cell small-12" style="padding-top: 2vh; font-size: 20px;">Gro analytics</div>
                <div class="cell small-12" style="padding-top: 2vh; font-size:16px; color: #AAAAAD;">
                    Gain a competitive edge by using Gro's proprietary machine-learning algorithms and predictive models
                </div>
                <!-- List of yield forecasts: -->
                <div class="cell small-12"
                    style="padding-top: 2vh; padding-left: 0.5vw; font-size: 14px; text-align: left;">US Corn <span
                        style="color:#A9A9A9;">Yield Forecast</span><span
                        style="font-weight: bold; font-size: 16px; color: grey">&nbsp;&nbsp;></span></div>
                <div class="cell small-12"
                    style="padding-top: 2vh; padding-left: 0.5vw; font-size: 14px; text-align: left;">US Soy <span
                        style="color:#A9A9A9;">Yield Forecast</span><span
                        style="font-weight: bold; font-size: 16px; color: grey">&nbsp;&nbsp;></span></div>
                <div class="cell small-12"
                    style="padding-top: 2vh; padding-left: 0.5vw; font-size: 14px; text-align: left;">Argentina Soy
                    <span style="color:#A9A9A9;">Yield Forecast</span><span
                        style="font-weight: bold; font-size: 16px; color: grey">&nbsp;&nbsp;></span></div>
                <!-- Learn more button -->
                <div class="cell small-12"
                    style="padding-top: 3vh; display: flex; align-items:center; justify-content: center; ">
                    <div class="learn-more-button">
                        <span style="font-weight: bold; font-size: 13px; color: #686868">&nbsp;Learn More&nbsp;></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell small-3" style="border-right: 1px solid black;">
            <div class="grid-x">
                <div class="cell small-12"
                    style="display: flex; align-items:center; justify-content: center;  padding-top: 2vh;">
                    <img width="78px" height="111px" src="assets/images/products/gro-api.jpg">
                </div>
            </div>
        </div>
        <div class="cell small-3" style="border-right: 1px solid black;">
            <div class="grid-x">
                <div class="cell small-12"
                    style="display: flex; align-items:center; justify-content: center;  padding-top: 2vh;">
                    <img width="78px" height="111px" src="assets/images/products/gro-dictionary.png">
                </div>
            </div>
        </div>
    </div>
</div>