.learn-more-button{
    width:99px; height: 29px; 
    border-radius: 14.5px; 
    background-color: #D3D3D3; 
    display: flex; 
    align-items:center; 
    justify-content: center;
}

.learn-more-button:hover{
    background-color: #E54437;
}