<div class="grid-x grid-padding-x" style=" min-height: 35vh; ">
    <div class="cell small-3" style="border-right: 1px solid black;">
        <div class="grid-x">
            <div class="cell small-12" style="text-align: center;">icon</div>
        </div>
    </div>
    <div class="cell small-3" style="border-right: 1px solid black;">
        <div class="grid-x">
            <div class="cell small-12" style="display: flex; align-items:center; justify-content: center">icon</div>
        </div>
    </div>
    <div class="cell small-3" style="border-right: 1px solid black;">
        <div class="grid-x">
            <div class="cell small-12" style="display: flex; align-items:center; justify-content: center">icon</div>
        </div>
    </div>
    <div class="cell small-3" style="border-right: 1px solid black;">
        <div class="grid-x">
            <div class="cell small-12" style="display: flex; align-items:center; justify-content: center">icon</div>
        </div>
    </div>
</div>