<div class="grid-x grid-margin-x" style=" min-height: 25vh;
margin-left: 5vw;
margin-right: 5vw;">
    <div class="cell small-12">
        <div class="grid-x grid-margin-x">
            <div class="cell small-3" >
                <div class="image-container">
                    <div class="image1-background"></div>
                    <div class="image1-button">{{industryLabel1}}</div>
                </div>
            </div>
            <div class="cell small-3" >
                <div class="image-container">
                    <div class="image2-background"></div>
                    <div class="image2-button">
                        {{industryLabel2}}
                    </div>
                </div>
            </div>
            <div class="cell small-3" >
                <div class="image-container">
                    <div class="image3-background"></div>
                    <div class="image3-button">
                        {{industryLabel3}}
                    </div>
                </div>
            </div>
            <div class="cell small-3" >
                <div class="image-container">
                    <div class="image4-background"></div>
                    <div class="image4-button">
                        {{industryLabel4}}
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>