<div class="navigation-wrapper">
    <div class="navigation-header-container grid-x grid-margin-x">
        <div class="cell small-1 align-center-middle">
            <div class="align-center-middle">
                <img width="50%" src="assets/images/logo.png">            
            </div>
        </div>

        <div class="cell small-1"></div>
        <div class="cell small-1"></div>
        <div class="cell small-1"></div>
        <div class="cell small-1"></div>
        <div class="cell small-1"></div>

        <div class="cell small-1 align-center-middle">
            <div class="align-center-middle;">
                <a>Products</a>
            </div>
        </div>
        <div class="cell small-1 align-center-middle">
            <div class="align-center-middle">
                <a>Industries</a>
            </div>
        </div>
        <div class="cell small-1 align-center-middle">
            <div class="align-center-middle">
                <a>Research</a>
            </div>
        </div>
        <div class="cell small-1 align-center-middle">
           <div class="align-center-middle">
               <a>About</a>
            </div>
        </div>
            
        <div class="cell small-1 align-center-middle">
            <div class="align-center-middle">
                <a>Login</a>
            </div>
        </div>
        <div class="cell small-1 align-center-middle">
            <div class="align-center-middle">
                <div style="display: inline-flex; padding: 7px 12px; border: 1px solid white; border-radius: 16px;">
                        <a>Signup</a>
                </div>
            </div>
        </div>
    </div>
</div>

